.gamepadCanvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#gamepadStatusContainer, .center-text {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#gamepadStatusContainer > h3, h4 {
    margin-bottom: 0;
    margin-top: 0;
}
.inactive {
    color: lightgrey;
}
.error {
    color: red;
}
.active {
    color: green;
}
.connecting {
    color: orange;
}
.no-margin {
    margin-bottom: 0;
    margin-top: 0;
}
#help {
    text-align: center;
}
#version {
    text-align: center;
    font-size: 0.8em;
}
[v-cloak] {
    display: none;
}
.stats {
    float: right;
}